body {
    background-color: black;
    color:white}
  
h1 { background-color:  rgb(53, 4, 53);
    width: 75%;
    padding: 25px;
    text-align: center;
    margin-bottom: 25px;
    font: small-caps bold 24px/1 sans-serif;
    color:purple;
    margin: auto

    

}
p {background-color: rgb(138, 81, 138);
   text-align: center;
   padding: 25px;
   width: 75%;
   font: small-caps bold 24px/1 sans-serif;
   color: rgb(238, 169, 238);
   margin: 25px auto;
   font-size: medium;
  }
   
li {width: 75%;
    margin: 25px auto;
    background-color: rgb(50, 106, 211);
    margin-bottom: 25 px;
    padding: 25px;
    font: small-caps bold 24px/1 sans-serif;
    color:rgb(133, 190, 240);
    font-size: medium;
    
    

}


h2 {
  background-color: rgb(6, 6, 73);
  padding: 25px;
  text-align: center;
  margin-bottom: 25px;
  font: small-caps bold 24px/1 sans-serif;
  color:blue;
  width:75%;
  margin: auto
}

h3 {
  padding: 25px;
  text-align: center;
  background-color: rgb(12, 61, 12);
  margin-top: 25px;
  margin-bottom: 25px;
  font: small-caps bold 24px/1 sans-serif;
  color:green;
  width: 75%;
  margin: 25px auto
}

ol {
  background-color:  rgb(79, 173, 79);
  margin: 25px auto;
  padding: 25px;
  font: small-caps bold 24px/1 sans-serif;
  color:rgb(142, 226, 142);
  width:75%;
  font-size: medium;
}


  



