body {
    background-color: black;
    color:white}
  
h1 { background-color:  rgb(53, 4, 53);
    width: 75%;
    padding: 25px;
    text-align: center;
    margin-bottom: 25px;
    font:italic small-caps bold 16px/2 cursive;
    color:purple;
    margin: auto

    

}
p {background-color: rgb(138, 81, 138);
   text-align: center;
   margin-bottom: 25px;
   padding: 25px;
   width: 75%;
   font:italic small-caps bold 16px/2 cursive; 
   color: rgb(238, 169, 238);
   margin: auto
  }
   
li {width: 75%;
    background-color: rgb(50, 106, 211);
    margin-bottom: 25 px;
    padding: 25px;
    font:italic small-caps bold 16px/2 cursive;
    color:rgb(133, 190, 240);
    margin: auto
    

}


h2 {
  background-color: rgb(6, 6, 73);
  padding: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  font:italic small-caps bold 16px/2 cursive;
  color:blue;
  width:75%;
  margin: auto
}

h3 {
  padding: 25px;
  text-align: center;
  background-color: rgb(12, 61, 12);
  margin-top: 25px;
  margin-bottom: 25px;
  font:italic small-caps bold 16px/2 cursive;
  color:green;
  width: 75%;
  margin: auto
}

ol {
  background-color:  rgb(79, 173, 79);
  margin: auto;
  padding: 25px;
  font:italic small-caps bold 16px/2 cursive;
  color:rgb(142, 226, 142);
  width:75%
}


  



